
*.db
*.png
*.jpg
*.html
*.parquet

*.tmp
*pyc
*.DS_Store
*.driveupload

*.idea
*.vscode

scratch/
target/
logs/
dbt_packages/
.venv/
tmp*

*.env
*.sh

data/dagster/*
!data/dagster/dagster.yaml
helpers/

.user.yml
*.duckdb
.claude
