
*.db
*.png
*.jpg
*.html
*.parquet
*.txt

*.tmp
*pyc
*.DS_Store
*.driveupload

*.idea
*.vscode

scratch/
target/
logs/
dbt_packages/
.venv/
tmp*

*.env
*.sh

data/dagster/*
!data/dagster/dagster.yaml
helpers/

.user.yml
*.duckdb
.claude
data/raw/ufc/betting_odds/search_state.json
data/raw/ufc/betting_odds/parsed_slugs.json
data/raw/ufc/betting_odds/attempted_links.json
